<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h3>Result</h3>
  <div th:text="'userId : ' + ${userId}">userId : ${userId}</div>
  <div th:text="'password : ' + ${password}">password : ${password}</div>
  <div th:text="'email : ' + ${email}">email : ${email}</div>
  <div th:text="'userName : ' + ${userName}">userName : ${userName}</div>
  <div th:text="'birthDay : ' + ${birthDay}">birthDay : ${birthDay}</div>
</body>
</html>