<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Home</title>
</head>
<body>
<h1>
	Register Form 
</h1>
	<form action="result.html" th:action="@{/register01}" method="post">
		userId: <input type="text" name="userId" value="hongkd"><br>
		password: <input type="text" name="password" value="1234"><br>
		
		<input type="submit" value="register01">
	</form>
	
	<form action="result.html" th:action="@{/register02}" method="post">
		userId: <input type="text" name="userId" value="hongkd"><br>
		password: <input type="text" name="password" value="1234"><br>
		
		<input type="submit" value="register02">
	</form>
	
	<form action="result.html" th:action="@{/register03}" method="post">
		userId: <input type="text" name="userId" value="hongkd"><br>
		password: <input type="text" name="password" value="1234"><br>
		
		<input type="submit" value="register03">
	</form>
	
	<form action="result.html" th:action="@{/register04}" method="post">
		userId: <input type="text" name="userId" value="hongkd"><br>
		password: <input type="text" name="password" value="1234"><br>
		
		<input type="submit" value="register04">
	</form>
</body>
</html>
